.dropdown-menu {
    width: 500px !important;
}

.notification-link:hover {
    background: #c74;
    
    color: white;
    transition: 0.5s ease-in-out;
}



/* Estilo dedicado a forma de envío con autocompletado. */
.pseudo-input{
    font-size: 0.98rem;
    padding: .5rem 1.06rem;
    border-color: #e5e9f2;
    border: 1px solid #e5e9f2;
    border-radius: 0.25rem;
    padding-right: 0;
    padding-left: 10px !important;
    min-height: 44px;
    cursor: text;
}



.crouching-div-hidden-input{
    border: 0;
    max-width: 100%;
    display: inline-flex;
    overflow: hidden;
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Tag agregado del autocompletado. */
.recipient-user{
    border: 1px solid;
    border-radius: 4px;
    cursor: default;
    float: left;
    padding: 0 5px;
    margin-right: 3px;
    margin-bottom: 3px;
    border-color: #4c84ff;
    background-color: rgba(76, 132, 255, 0.051);
    color: #4c84ff;
}

.white{
    color: #333;
    font-size: 15px;
}
/* Input escondido de autocompletado. */
.user-id-value, .cc-id-value{
    display: none;
    width: 20px;
    font-size: 8px;
}



/* AJUSTES DE CARLOS BERNAL -----------------------------------------------*/

div.sub-menu li.active{
	/*background: #f1eaf4;*/
}
i.fa-plus{
	color: #752d8e;
}
#sidebar-menu #docs #newdoc{
box-shadow: 0px 1px 5px 0px #999;
border-radius: 50px;
line-height: 30px;
font-size: 17px;
font-weight: 600;
color: #8e8e8e;
margin-right: 20px;
	z-index: 10;
}
#sidebar-menu li.has-sub{
	background: #FFFFFF;
	color: #434a4b;
}
#sidebar-menu li.has-sub.expand{
	background: #f1eaf4;
	color: #752d8e;
}
#sidebar-menu li.has-sub.expand li.has-sub.expand{
	background: #FFFFFF;
	color: #434a4b;
	font-weight: 700;
}
.certy{
    padding: 3rem 4rem;
}

/* DOCUEMTN TABLES */

.mail{
    cursor: pointer;
}

.mail th{
    max-height: 20px !important;
    background: #555 !important;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.mail tr{
    max-height: 20px !important;
    padding-top: 15px;
    padding-bottom: 15px;
}

.mail tr:hover{
    background: #4c84ff !important;
    color: white !important;
    transition: 0.2s ease-in-out !important;
}

.mail td{
    padding: 0;
    padding-left: 10px;
}

.read{
    background-color: rgb(188, 181, 207) !important;
    color: white !important;
}

.unread{
    background-color: white;
}

td .btn-xs{
    padding: 0 !important;
}
